@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-window {
  min-height: calc(100vh - 60px);
}

.abs-center {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.spinner {
  left: calc(50% - 1.25rem);
  top: calc(50% - 1.25rem);
}
